body {
  /*Adicionar uma fonte*/
  font-family: "Raleway", sans-serif;
}

.navbar {
  background-color: cadetblue;
}

.dio {
  background-color: cadetblue;
  color: white;
  height: 800px;
}

.margin {
  padding-bottom: 100px;
  padding-top: 70px;
}

.bootcamps {
  background-color: #757575;
  color: white;
}

.projects {
  background-color: #757575;
  color: white;
}

.projectCard {
}

h3 {
  padding-bottom: 40px;
}

p {
  padding-top: 20px;
}

.bg-footer {
  background-color: #c0a323;
  color: black;
  padding-bottom: 80px;
  padding-top: 30px;
}
